# Xcode
xcuserdata/
*.xcscmblueprint
DerivedData/

# macOS
.DS_Store

# Build
build/

# SPM
.build/
Package.resolved

# XcodeGen-generated workspace
*.xcworkspace/

# fastlane artifacts
fastlane/report.xml

# Distribution
*.app/
*.zip
